<%= form_for @relationship.bounds.build(:item_id => item.id), 
    # :remote => true 
	do |f| %> 
    <div><%= f.hidden_field :item_id %><%= f.hidden_field :persona_id %><%= f.hidden_field :persona %></div>
    <div class="actions"><%= f.submit "Bind" %></div>
<% end %>