<%= form_tag search_characters_path, :method => 'get' do %>
  <div class="field">
    <%= label_tag :region %><br />
    <%= select_tag(:region, options_for_select(Battlenet::get_regions, Battlenet::get_regions.map {|v| [v, v]})) %>

  </div>
  <div class="field">
    <%= label_tag :realm %><br />
    <%= collection_select(:realm, :id, Realm.all, :id, :name)%>
  </div>
  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag :name, params[:name] %>
  </div>  
  <%= submit_tag "Search", :name => nil %>
<% end %> 