<div class="span-12">
  <div class="top left">
    <%= character_image @character.thumbnail %>
  </div>
  <div class="prepend-3">
    <h1><%= @character.name %></h1>
    <h2><%= "#{@character.level}  #{Battlenet::races[@character.race][:name]} #{Battlenet::klass[@character.klass][:name]}" %><br />
        <%= "#{@character.realm.region.upcase} / #{@character.realm.name}" %></h2>
  </div>
</div>

<div class="span-12 last">
  <div class ="right">
    <%= button_to "Update", character_path(@character), :method => :put %>
    <%= render 'users/claim_form' %>
  </div>
  
  <strong>Last Modified:</strong> <%= @character.lastModified %><br />             
  <strong>Realm:</strong> <%= @character.realm.name %><br />             
  <strong>Level:</strong> <%= @character.level %><br />            
  <strong>Item Level:</strong> <%= @character.items[:averageItemLevel] %><br />
  <strong>Item Level Equipped:</strong> <%= @character.items[:averageItemLevelEquipped] %>
</div>

<hr />

<div class="outfit">
  <table>
    <tr>
      <th>Slot</th>
      <th>Item</th>
      <th>Gems</th>
      <th>Enchanted?</th>
      <th>Reforged?</th>
      <th>Level</th>
    <tr>
  <% @character.inventory.each do |v| %>
    <tr>
      <td><strong><%= Battlenet::Item::InventoryType[v[:inventoryType]] %></strong></td>
      <td class="<%= Battlenet::quality[v[:quality]] %>"><%= link_to v[:name], item_path(v[:id]), :rel => "item=#{v[:id]}" %></td>
      <td><%= link_to '#', item_path(v.tooltipParams[:gem0]), :rel =>  "item=#{v.tooltipParams[:gem0]}" if  v.tooltipParams[:gem0] %>
          <%= link_to '#', item_path(v.tooltipParams[:gem1]), :rel =>  "item=#{v.tooltipParams[:gem0]}" if  v.tooltipParams[:gem1] %>
          <%= link_to '#', item_path(v.tooltipParams[:gem2]), :rel =>  "item=#{v.tooltipParams[:gem0]}" if  v.tooltipParams[:gem2] %></td>
      <td><%= "Yes" if v.tooltipParams[:enchant] %></td>
      <td><%= "Yes" if v.tooltipParams[:reforge] %></td>
      <td><%= v[:itemLevel] %></td>
    </tr>
  <% end %>
  </table>
</div>

<% if @relationship %>

<hr />

  <div class="span-12 colborder">
    <h2>Account Items</h2>

    <% current_user.unique_items(@relationship).each do |item| %>
	  <div class="item_small round <%= compare_by_level item.itemLevel, @character.items[:averageItemLevel] %>">	
		<div class="top right">
		  <%= render 'binding_form', :item => item %>
		</div>
		<div class="left">
		  <%= icon_image item.icon, :size => "40x40" %>
		</div>
		<div class="info-compact <%= Battlenet::quality[item.quality] %> item"> 
		  <strong><%= link_to_item item %></strong>
		</div>
	  </div>
    <% end %>	
  </div>

  <div class="span-12 last">
    <h2>Character Items</h2>
	
    <% @relationship.items.each do |item| %>
	  <div class="item_small round <%= compare_by_level item.itemLevel, @character.items[:averageItemLevel] %>">	
		<div class="top right">
		  <%= render 'binding_form', :item => item %>
		</div>
		<div class="left">
		  <%= icon_image item.icon, :size => "40x40" %>
		</div>
		<div class="info-compact <%= Battlenet::quality[item.quality] %> item"> 
		  <strong><%= link_to_item item %></strong>
		</div>
	  </div>
    <% end %>	
    
  </div>
<% end %>  