<div class="span-12">
  <div class="top left"><%= character_image @character.thumbnail %></div>
  <div class="prepend-3">
    <h1><%= @character.name %></h1>
    <h2><%= "#{@character.realm.region.upcase} / #{@character.realm.name}" %></h2>
  </div>
</div>

<div class="span-12 last">
  <div class ="right">
    <%= button_to "Update", character_path(@character), :method => :put %>
    <%= render 'users/claim_form' %>
  </div>
  
  <strong>Last Modified:</strong> <%= Time.at(@character.lastmodified / 1000).strftime("%m/%d/%y %I:%M%p") %><br />             
  <strong>Realm:</strong> <%= @character.realm.name %><br />
  <strong>Class:</strong> <%= @character.klass %><br />             
  <strong>Level:</strong> <%= @character.level %><br />            
  <strong>Achievement Points:</strong> <%= @character.achievementpoints %>
</div>

<div class="span-24">
  <table>
    <% Battlenet::outfit.each do |piece| %>
      <% unless @character.items[piece].nil? %>
    <tr>
      <td class="<%= Battlenet::quality[@character.items[piece][:quality]]%>"><%= piece %></td><td><%= link_to @character.items[piece][:name], item_path(@character.items[piece][:id]) %></td>
    </tr>
      <% end %>
    <% end %>
  </table>
</div>

<% if signed_in? %>
<div class="span-12 colborder">
	<h2>Account Items</h2>
	<%= render current_user.items, :persona => current_user %>
</div>

<div class="span-12 last">
	<h2>Character Items</h2>
	<%= render current_user.items, :persona => current_user.relationships.find_by_character_id(@character.id) %>
</div>
<% end %>  