<div class="avatar push-1"><%= character_image @character.thumbnail %></div>
<div class="prepend-4">
  <h1><%= @character.name %></h1>
  <h2><%= @character.realm.name %></h2>
</div>
<hr />
<div class ="floatright">
  <%= button_to "Update", character_path(@character), :method => :put %>
  <%= render 'users/claim_form' %>
</div>
<div class="round details">
  <strong>Last Modified:</strong> <%= Time.at(@character.lastmodified / 1000).strftime("%m/%d/%y %I:%M%p") %><br />             
  <strong>Realm:</strong> <%= @character.realm.name %><br />
  <strong>Class:</strong> <%= @character.klass %><br />             
  <strong>Level:</strong> <%= @character.level %><br />            
  <strong>Achievement Points:</strong> <%= @character.achievementpoints %>
</div>

<div class="outfittable">
  <table>
    <% Battlenet::outfit.each do |piece| %>
      <% unless @character.items[piece].nil? %>
    <tr>
      <td class="<%= Battlenet::quality[@character.items[piece][:quality]]%>"><%= piece %></td><td><%= link_to @character.items[piece][:name], item_path(@character.items[piece][:id]) %></td>
    </tr>
      <% end %>
    <% end %>
  </table>
</div>   