<div>
  <%= Battlenet::Item::Bind[item.itemBind] %> <br />
  <%= Battlenet::Item::InventoryType[item.inventoryType] %>
</div>

<% if item.itemClass == 2 %>
  <div>
    <%= "#{item.weaponInfo[:damage][0][:minDamage]} - #{item.weaponInfo[:damage][0][:maxDamage]} Damage" %> <br />
    <%= "Speed #{item.weaponInfo[:weaponSpeed]}" %> <br />
    <%= "(#{item.weaponInfo[:dps].round(1)} damage per second)" %>
  </div>
<% end %>

<div class="simpleStats">
  <% item.bonusStats.each do |stat| %>
    <% if [1,2,3,4,5,6,7].include?(stat[:stat]) %>
      <%= "#{Battlenet::Item::Stat_print[stat[:stat]] % stat[:amount]}" %><br />
    <% end%>
  <% end %>
</div>

<div>
  <%= "Durability #{item.maxDurability}/#{item.maxDurability}" unless item.maxDurability <= 0 %><br />
  <%= "Item Level #{item.itemLevel}" unless item.itemLevel.nil? %><br />  
  <%= item.description unless item.description.nil? %>
</div>

<div class="simpleStats Uncommon">
  <% item.bonusStats.each do |stat| %>
    <% unless [1,2,3,4,5,6,7].include?(stat[:stat]) %>
      <%= "#{Battlenet::Item::Stat_print[stat[:stat]] % stat[:amount]}" %><br />
    <% end%>
  <% end %>
</div>

