<div class="left">
  <%= icon_image @item.icon %>
  <hr />
  <%= render 'shared/binding_form', :persona => current_user, :item => @item if signed_in? %>
</div>
<div class="span-10 tooltip_border">
  <h2 class="<%= Battlenet::quality[@item.quality] %>"><%= @item.name %></h2>
  <div>
    <%= render 'stats', :item => @item %>

  </div>
</div>