<!DOCTYPE html>
<html>
<head>
  <title>WoW Wishlist | <%= @title %></title>
  <%= render 'layout/stylesheets' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
